<server description="AWS SQS Sender REST endpoint">

  <featureManager>
      <feature>jaxrs-2.1</feature>
  </featureManager>

  <httpEndpoint httpPort="9080" httpsPort="9443"
                id="defaultHttpEndpoint" host="*" />

  <webApplication location="awssqssender.war" contextRoot="${app.context.root}"/>
  
</server>
